<h2>Skicka bekräftelseinstruktioner</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  <p>Ett epostmeddelande med en bekräftelselänk och instruktioner på hur du skall gå till väga kommer att skickas till din epostadress.</p>
  <div class="email">
  	<%= f.label :email, "Epost" %>
  	<%= f.email_field :email %>
  </div>

  <div><%= f.submit "Skicka" %></div>
<% end %>

<%= link_to "Tillbaka", :back %>
