<% title @mark.map.name %>

<!-- Header -->
<div class="row">
  <div class="twelve columns header-map">
    <h2 class="header-name">Redigera markering</h2>
  </div>
</div>
    
<div class="row map-main">
  <div class="nine columns">
    <!-- Map -->
    <div class="row">
      <div class="twelve columns">
        <div class="map-wrapper">
          <%= gmaps(@display_map) %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <%= text_field_tag "locationTextField", nil, placeholder: "Sök startposition" %>
      </div>
      <div class="six columns">
        <ul class="right button-group">
          <li><%= submit_tag "Där kartan är nu", type: "button", class: "small button", id: "map_center_button" %></li>
          <li><%= submit_tag "Hitta min position", type: "button", class: "small button", id: "geolocate_button" %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="right three columns side-map">

    <div class="row">
      <div class="twelve columns">
        <div id="markCreation">
          <%= form_for(@mark, method: :put, html: { id: "mark-form" }) do |f| %>
              <%= render 'form', f: f %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
