<% title "Skapa ny markering på " + @map.name %>
<div class="row">
  <div class="eight columns">
    <h1>Ny markering</h1>
    <%= form_for([current_user, @map, @mark], url: profile_map_marks_path, html: { id: "map-form" }) do |f| %>
    <%= render 'form', f: f %>
    <% end %>
  </div>
  <div class="four columns">
    <%= gmaps(@display_map) %>
    <%= text_field_tag "locationTextField", nil, placeholder: "Sök startposition" %>
    <%= submit_tag "Där jag är", type: "button", class: "button", id: "geolocate_button" %>
    <%= submit_tag "Där kartan är nu", type: "button", class: "button", id: "map_center_button" %>
  </div>
</div>
<%= link_to 'Avbryt', profile_map_path(@map.user.slug, @map.slug)%>