<%= form_for(@map_comment) do |f| %>
  <% if @map_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@map_comment.errors.count, "error") %> prohibited this map_comment from being saved:</h2>

      <ul>
      <% @map_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :map %><br />
    <%= f.text_field :map %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
