<p id="notice"><%= notice %></p>

<p>
  <b>Map:</b>
  <%= @map_comment.map %>
</p>

<p>
  <b>User:</b>
  <%= @map_comment.user %>
</p>

<p>
  <b>Content:</b>
  <%= @map_comment.content %>
</p>


<%= link_to 'Edit', edit_map_comment_path(@map_comment) %> |
<%= link_to 'Back', map_comments_path %>
