<!-- Starsida - inloggad läge -->
<% title "Välkommen!" %>

<div class="row">
	<div class="twelve columns">
		<h2>Kartor - Översikt</h2>
	</div>
</div>
<div class="row">
	<div class="three columns">
		<h3>Alla användare</h3>
		<% (@User).each do |u| %>
			<p>E-Post: <%= u.email %></p>
			<p>Användarnamn: <%= link_to u.username, profile_path(u.slug)%></p>
		<hr />
		<% end %>
		<hr />

	</div>
	<div class="three columns">
		<h4>Mina kartor</h4>
    <% @maps.each do |map| %>
    <%= link_to map.name, profile_map_path(current_user.slug, map.slug) %>
    <br>
    <% end %>
	</div>
	<div class="three columns">
		<h4>Kartor jag följer</h4>
		<% @followed_maps.each do |followed| %>
			<%= link_to followed.name, map_path(followed.slug) %>
			<br>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="three columns">
		<h4>Populära kartor</h4>
	</div>
	<div class="three columns">
		<h4>Nya kartor idag</h4>
	</div>
	<div class="three columns">
		<h4>Alla kartor</h4>
		<ul>
			<% 
				## Spruta ut alla kartor, tillfälligt i DEV-läge
				(@all_maps).each do |m| 
			%>
			<li><%= link_to m.name, profile_map_path(m.user.slug, m.slug)%></li>
		<% end %>
		</ul>
	</div>
</div>

