<!-- Starsida - inloggad läge -->
<% title "Välkommen!" %>

<div class="row">

  <section class="three columns" id="dashboard-aside">
    <div class="row">
      <div class="twelve columns">
        <div class="image-container">
          <% if current_user.provider? %>
          <%= link_to image_tag( current_user.profile_image, :class => 'profile-image-large' ), profile_path( current_user.slug ) %>
          <% else %>
            <%= link_to gravatar_image_tag(current_user.email,
                    alt: current_user.email,
                    class: 'profile-image-large',
                    gravatar: { default: 'https://assets.github.com/images/gravatars/gravatar-140.png', size: 150 }), 
            profile_path(current_user.slug) %>     
          <% end %>
          <h4><%= current_user.name || current_user.username %></h4>
        </div>
        <p class="edit-profile-link"><%= link_to 'Redigera profil', edit_user_registration_path %></p>
      </div>
    </div>
    
    <hr class="divider" />
    
    <div class="row">
      <div class="twelve columns">
        <h3>Kartor</h3>
        <p><%= link_to raw('<i class="foundicon-plus"></i> Lägg till karta'), new_profile_map_path(current_user.slug) %></p>
        
        <h4>Mina kartor (<%= @my_maps.count %>)</h4>
        <ul class="no-bullet">
          <% @my_maps.each do |map| %>
              <li><%= link_to map.name, profile_map_path(map.user.slug, map.slug) %>
                <% if map.private %>
                    <span>(Privat)</span>
                <% end %>
              </li>
          <% end %>
        </ul>
        
        <h4>Kartor jag följer (<%= followed_maps.count %>)</h4>
        <ul class="no-bullet">
          <% followed_maps.each do |map| %>
              <li>
                <%= link_to map.name, profile_map_path(map.user.slug, map.slug) %>
                <% if map.private %>
                    <span>(Privat)</span>
                <% end %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>
  
  <section class="eight columns offset-by-one">
    <h3 class="status-header" >Statusuppdateringar</h3>
    <% followed_maps.each do |map| %>
        <%= render "status_updates/shared/status_updates", updates: map.status_updates %>
    <% end %>
  </section>

</div>



