<div class="status-updates">
	<% if current_user == @map.user %>
		<%= form_for([@map, @status_update]) do |f| %>
			<div class="content">
			    <%= f.label :content, "Lägg till statusuppdatering" %>
			    <%= f.text_field :content %>
			</div>	
		<% end %>
	<% end %>
	<ul>
		<% @map.status_updates.each do |s| %>
		<li>
			<%= s.content %> <br />
			<%= s.user.username %> <br />
			<%= s.created_at %>
			<%= link_to 'Ta bort', map_status_update_path(@map.id, s.id), :confirm => 'Saker', :method => :delete %>
			<% if current_user.likes?(s) %>
				(<%= link_to "Sluta Gilla", map_status_update_unlike_path(@map.id, s.id), :method=>:post %>)
			<% else %> 
				(<%= link_to "Gilla", map_status_update_like_path(@map.id, s.id), :method=>:post %>)
			<% end %>
		</li>
		<% end %>
	</ul>
</div>	