<div class="status-updates row">
  <div class="six columns">
    <% if current_user == @map.user %>
        <%= form_for([@map, @status_update]) do |f| %>
            <div class="content">
              <%= f.text_field :content, :placeholder => "Lägg till statusuppdatering" %>
            </div>
        <% end %>
    <% end %>
    <% if @map.status_updates.any? %>
        <ul>
          <% @map.status_updates.each do |s| %>
              <li>
                <h4><%= s.user.username %></h4>
                <h5><%= s.content %></h5>
                <div class="status_update_footer">
                  <span class="created_at"><%= time_ago(s.created_at) %></span>
                  <% if current_user == s.user %>
                      <%= link_to 'Ta bort', map_status_update_path(@map.id, s.id), :confirm => 'Vill du ta bort status uppdateringen?', :method => :delete %>
                  <% end %>
                </div>
                <% if s.status_comments.any? %>
                    <ul class="status-comments">
                      <% s.status_comments.each do |c| %>
                          <li>
                            <p><span><%= c.user.username %>: </span><%= c.content %></p>
                            <div class="status_comment_footer">
                              <span class="created_at"><%= time_ago(c.created_at) %></span>
                              <% if current_user == c.user %>
                                  <%= link_to 'Ta bort', map_status_update_status_comment_path(@map.id, s.id, c.id), :confirm => 'Vill du ta bort kommentaren?', :method => :delete %>
                              <% end %>
                            </div>
                          </li>
                      <% end %>
                    </ul>
                <% end %>
              </li>
              <li class="status_comment_form">
                <%= form_for([@map, s, @status_comment]) do |f| %>
                    <div class="content">
                      <%= f.text_field :content, :placeholder => "Skriv kommentar..." %>
                    </div>
                <% end %>
              </li>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>