<section class="status-update-wrapper">
  <ul class="status-updates">
    <% updates.each do |u| %>
        <li class="status-update">
          <article>
            <div class="status-update-body">
              <div class="status-update-header">
                <h3><%= link_to map.name, map_path(map) %></h3>
              </div>
              <div class="status-update-content">
                <p><%= u.content %></p>
              </div>
              <div class="status-update-footer">
                <span class="created-at"><%= time_ago(u.created_at) %></span>
                <div id="status-update-like-button-<%= u.id %>">
                  <%= render 'status_updates/shared/like_button', :map => map, :update => u %>
                </div>
                <% if current_user == u.user %>
                    <%= link_to '| Ta bort ', map_status_update_path(map, u), :confirm => 'Vill du ta bort statusuppdateringen?', :method => :delete %>
                <% end %>
                <div class="status-update-statistics">
                  <span class="status-update-likes"> ... personer gillar detta.</span>
                </div>
              </div>
            </div>
            <div class="status-comment-wrapper">
              <ul class="status-comments">
                <% if u.status_comments.any? %>
                    <li class="status-update-comment-show">Visa alla kommentarer</li>
                    <%= render "status_comments/shared/status_comments", :update => u, :comments => u.status_comments %>
                <% end %>
                <li><%= render "status_comments/shared/form", :update => u %></li>
              </ul>
            </div>
          </article>
        </li>
    <% end %>
  </ul>
</section>