<% if facebook? %>
  <h2>Hej <%= session["facebook_data"]["info"]["name"] %> <img src='<%= session["facebook_data"]["info"]["image"] %>' /></h2>
  <p>Epost-adress (<%= session["facebook_data"]["info"]["email"] %>) som du använder på facebook används redan på Kartr. Vill du koppla ihop dessa konton, skriv in dina uppgifter nedan!</p>
<% else %>
  <h2>Logga in</h2>
<% end %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login">
  	<%= f.label :login,  facebook? ? session["facebook_data"]["info"]["email"] : "Epost eller användarnamn" %>
  	<%= f.text_field :login %>
  </div>

  <div class="password">
  	<%= f.label :password, "Lösenord" %>
  	<%= f.password_field :password %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me, "Kom ihåg mig" %></div>
  <% end -%>

  <div><%= f.submit facebook? ? "Koppla samman dina konton!" : "Logga in" %></div>
<% end %>

<%# render "users/shared/links" %>
