<section id="my-maps">
  <% @maps.each do |map| %>
    <div class="row">
      <div class="three columns">
        <p><strong><%= link_to map.name, profile_map_path(map.user.slug, map.slug) %></strong></p>
      </div>
      <div class="three columns">
      <p><%= map.description %></p>
      </div>
      <div class="two columns">
        <p><%= map.follow_count %> följare</p>
      </div>
      <div class="two columns">
        <p>
          <%= link_to "Ändra", edit_profile_map_path(map.user.slug, map.slug) %> |  
          <%= link_to "Ta bort", profile_map_path(map.id), :method => :delete, :confirm => "Vill du ta bort kartan?" %>
        </p>
      </div>
      <div class="two column hide-for-small">
      <% if map.private %>
          <span class="has-tip tip-top noradius" data-width="90" title="Privat karta">
            <p class="foundicon-lock"></p>  
          </span>
      <% end %> 
      </div>
    </div> <!-- .row -->
  <% end %>
</section>