<section id="my-maps">
  <h4 class="subheader"><%= @user.name || @user.username %>'s kartor</h4>
  
<% if @user.maps.any? %>
 <table class="twelve table-maps">
    <thead>
      <tr>
        <th>Namn</th>
        <th>Taggar</th>
        <th>Följare</th>
        <th>Markeringar</th>
        <th>Statusuppdateringar</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @maps.each do |map| %>
      <% unless current_user === @user %>
        <% unless map.private? %>
        <tr>
          <td>
            <span class="has-tip tip-bottom radius" data-width="100" title="<%= map.description %>">
              <%= link_to map.name, profile_map_path(map.user.slug, map.slug) %>
            </span>  
          </td>
          <td>
            <% map.tags.each do |t| %>
              <span class=""><%= link_to t.word, search_result_path(t.word) %></span>  
            <% end %>
          </td>
          <td><span class="counter"><%= map.follow_count %></span></td>
          <td><span class="counter"><%= map.marks.count %></span></td>
          <td><span class="counter"><%= map.status_count %></span></td>
          <td></td>
        </tr>
        <% end %>
      <% else %> 
      <tr>
        <td>
          <span class="has-tip tip-bottom radius" data-width="100" title="<%= map.description %>">
            <%= link_to map.name, profile_map_path(map.user.slug, map.slug) %>
          </span>  
        </td>
        <td>
          <% map.tags.each do |t| %>
            <span class=""><%= link_to t.word, search_result_path(t.word) %></span>  
          <% end %>
        </td>
        <td><span class="counter"><%= map.follow_count %></span></td>
        <td><span class="counter"><%= map.marks.count %></span></td>
        <td><span class="counter"><%= map.status_count %></span></td>
        <td class="link-icons">
          <%= link_to raw("<i class='foundicon-edit'></i>"), edit_profile_map_path(map.user.slug, map.slug) %>
          <%= link_to raw("<i class='foundicon-trash'></i>"), profile_map_path(map.user.slug, map.slug), 
              :method => :delete, :confirm => "Vill du ta bort kartan?" %>
          <% if map.private %>
          <span class="has-tip tip-bottom radius" data-width="80" title="Privat karta"><i class="foundicon-lock"></i></span>
          <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>Tyvärr, användaren har inga kartor än.</p>
<% end %>

<% if current_user === @user %>
    <div class="row">
      <div class="twelve columns">
        <%= link_to "Ny karta", new_profile_map_path(current_user.slug), class: "button" %>
      </div>
    </div>
<% end %>
</section>