<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<h4><%= @map.name %></h4>

<div id="follow-button">
  <%= render 'maps/shared/follow_button', :map => @map %>
</div>

<p><%= @map.description %><p>
<div id="viewMapContainter">
	<%= gmaps4rails(@display_map) %>
</div>

<%= render "status_updates/shared/form" %>

<%= render "map_comments/form" %>
