<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<h1><%= @map.name %></h1>
<p><%= @map.description %><p>
<% unless @map.user == current_user %>
    <div id="follow-button">
      <%= render 'maps/shared/follow_button', :map => @map %>
    </div>
<% end %>
<% if current_user == @map.user %>
    (<%= link_to "Ta bort", map_path(@map.slug), :method=>:delete, :confirm=>"Vill du ta bort kartan?" %>)
    (<%= link_to "ta bort", map_path(@map.id), :method=>:delete, :confirm=>"Vill du ta bort kartan?" %>)
    <p><%= link_to "Ändra karta", edit_map_path(@map) %></p>
    <div class="row">
      <div class="four columns">
        <div class="status-update-form">
          <%= render "status_updates/shared/form" %>
        </div>
      </div>
    </div>
<% end %>

<div id="viewMapContainter">
  <%= gmaps(@display_map) %>
</div>
<div class="row">
  <% if @map.status_updates.any? %>
      <div class="six columns">
        <h3>Statusuppdateringar</h3>
        <%= render "status_updates/shared/status_updates", :map => @map, :updates => @map.status_updates %>
      </div>
  <% end %>
  <div class="six columns">
    <section class="map-comment-wrapper">
      <h3>Kommentarer</h3>
      <ul class="map-comments">
        <% if @map.map_comments.any? %>
            <%= render "map_comments/shared/map_comments", :map => @map, :comments => @map.map_comments %>
        <% end %>
        <li>
          <div class="map-comment-form">
            <%= render "map_comments/shared/form" %>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>
