<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<% if @map.user == current_user %>
    <% # Visar namnet på kartan om det är ägaren som besöker den
       title @map.name
    %>
<% else %>
    <% # Annars visas :kartnamn, en karta av :användarens_namn
       title @map.name + ", en karta av " + (@map.user.name ? @map.user.name : @map.user.username)
    %>
<% end %>


<div class="row" id="page-map">

  <header class="twelve columns header-map">
      <p class="show-for-small">
         <button class='sidebar-button button secondary radius' id="sidebarButton" href="#sidebar">Extra</button>
      </p>
      <div class="row">
        <div class="nine columns">
          <h2><%= @map.name %></h2>
        </div>
        <div class="three columns hide-for-small">
        <% unless @map.user == current_user %>
          <%= render 'maps/shared/follow_button' %>
        <% end %>
        </div>
      </div>
  </header>

   <section role="main">

      <div class="row">
          <div class="twelve columns">
              <div class="map-info-wrapper">
                  <div class="map-description">
                  <p>
                    <% if @map.description.present? %>
                      <%= simple_format(@map.description) %>
                    <% else %>
                      Denna karta saknar beskrivning.
                    <% end %>
                  </p>
                  </div>
              </div>
            <div class="row">
              <div class="twelve columns">
                <%= render 'maps/shared/display_tags' %>
              </div>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="twelve columns" id="viewMapContainter">
          <%= gmaps(@display_map) %>
        </div>
      </div>

    <% if @map.user == current_user %>
    <div class="row">
        <div class="eleven columns">
            <div class="status-update-form">
                <%= render 'status_updates/shared/form' %>
            </div>
        </div>
        <div class="one column tip-status hide-for-small">
          <span class="has-tip tip-right radius" data-witdh="190" title="Skriv en statusuppdatering till din karta">?</span>
        </div>
    </div>
    <% end %>

    <div class="row" id="tabs-comments">
      <div class="eleven columns">
        <dl class="tabs">
        <% if @map.status_updates.any? %>
          <dd class="active"><a href="#status">Statusuppdateringar</a></dd>
          <dd><a href="#comment">Kommentarer</a></dd>
        <% else %>
          <dd class="active"><a href="#comment">Kommentarer</a></dd>
        <% end %>
        </dl>
        <ul class="tabs-content">
        <% if @map.status_updates.any? %>
          <li class="active" id="statusTab">
            <%= render 'status_updates/shared/status_updates', :updates => @map.status_updates %>
          </li>
          <li id="commentTab">
            <%= render 'map_comments/shared/map_comments', :map => @map %>
          </li>
        <% else %>
          <li id="commentTab" class="active">
            <%= render 'map_comments/shared/map_comments', :map => @map %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>

  </section> <!-- role[main] -->

  <!-- Sidebar -->
  <section id="sidebar" role="complementary">

    <div class="row created-by">
      <div class="twelve columns">
        <div class="panel radius">
          <% if @map.user.provider? %>
          <img src="<%= @map.user.profile_image %>" alt="" class="profile-image-medium" />
          <% else %>
            <%= gravatar_image_tag(@map.user.email,
                        alt: @map.user.email,
                        class: "",
                        gravatar: { default: 'https://assets.github.com/images/gravatars/gravatar-140.png', size: 35 }) %>
          <% end %>

          <div class="profile-name">av <%= link_to @map.user.name || @map.user.username, profile_path(@map.user.slug) %></div>
          <span class="created-time"><%= time_ago( @map.created_at ) %></span>

          <% if @map.user == current_user %>
          <ul class="map-settings">
            <li>
                <%= link_to "Redigera karta", edit_profile_map_path(@map.user.slug, @map.slug), :title => 'Redigera kartan' %>
            </li> |
            <li><%= link_to "Ta bort karta", profile_map_path(@map.user.slug, @map.slug),
                    method: :delete, confirm: "Vill du ta bort kartan?", :title => 'Ta bort kartan' %>
            </li>
          </ul>
          <% end %>
          <div class="row">
            <div class="twelve columns">
              <ul class="no-bullet" id="counter-map">
                <li><i class="foundicon-page"></i> <%= @map.map_views %> sidvisningar</li>
                <li><i class="foundicon-location"></i> <%= @map.marks.count %> markeringar</li>
                <li><i class="foundicon-people"></i> <%= render 'maps/shared/follow_count' %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <h5 class="subheader">Markeringar</h5>
        <% if @map.user == current_user %>
            <p class="marks"><i class="foundicon-plus"></i> <%= link_to "Lägg till markering", new_profile_map_mark_path(@map.user.slug, @map.slug) %></p>
        <% end %>
        <ul class="no-bullet">
          <%= render 'maps/shared/list_marks' %>
        </ul>
      </div>
    </div>

      <% unless @map.user == current_user %>
      <div class="row show-for-small">
          <div class="eight columns centered">
            <div class="map-meta">
              <%= render 'maps/shared/follow_button' %>
            </div>
          </div>
      </div>
      <% end %>

  </section> <!-- role[complementary] -->
</div>









