<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<% if @map.user == current_user %>
    <% # Visar namnet på kartan om det är ägaren som besöker den
       title @map.name
    %>
<% else %>
    <% # Annars visas :kartnamn, en karta av :användarens_namn
       title @map.name + ", en karta av " + (@map.user.name ? @map.user.name : @map.user.username)
    %>
<% end %>

<div class="row">
  <div class="ten columns">
    <h1 class="header-name" ><%= @map.name %> </h1>
  </div>
  <div class="two columns">
    <% unless @map.user == current_user %>
        <%= render 'maps/shared/follow_button'%>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="twelve columns">
    <div class="map-info-wrapper">
      <div class="map-description">
        <p>
          <% if @map.description.present? %>
              <%= simple_format(@map.description) %>
          <% else %>
              Denna karta saknar beskrivning...
          <% end %>
        </p>
        <% if @map.tag_list.present? %>
            <div class="map-tags">
              <span>Kartans taggar: <%= @map.tag_list %></span>
            </div>
        <% end %>
      </div>
      <div class="map-created-at">
        <span>Skapad av <%= link_to @map.user.name || @map.user.username, profile_path(@map.user.slug) %>
          <%= time_ago(@map.created_at) %></span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="twelve columns" id="viewMapContainter">
    <%= gmaps(@display_map) %>
  </div>
</div>


<div class="row">
  <div class="six columns push-six">
    <div class="right map-handler">
      <div class="status-update-form">
        <%= render "status_updates/shared/form" %>
      </div>
      <%= link_to "Lägg till markering", new_map_mark_path(@map) %> |
      <%= link_to "Ändra karta", edit_profile_map_path(@map.user.slug, @map.slug) %> |
      <%= link_to "Ta bort karta", map_path(@map.id), method: :delete, confirm: "Vill du ta bort kartan?" %>
      <p>Sidvisningar: <%= @map.map_views %></p>
    </div>
  </div>
  <div class="six columns pull-six">
    <div class="row">
      <div class="map-count three columns">
        <%= render 'maps/shared/follow_count' %>
      </div>
      <div class="map-count five columns middle">
        <%= render 'maps/shared/status_count' %>
      </div>
      <div class="map-count three columns">
        <%= render 'maps/shared/comment_count' %>
      </div>
    </div>
  </div>
</div>


<div class="row hide-for-small">
  <% if @map.status_updates.any? %>
      <div class="six columns">
        <h2 class="subheader" >Statusuppdateringar</h2>
        <%= render "status_updates/shared/status_updates", :updates => @map.status_updates %>
      </div>
  <% end %>
  <div class="six columns">
    <%= render "map_comments/shared/map_comments", :map => @map %>
  </div>
</div>

<div class="row show-for-small">
  <div class="twelve columns">
    <% if @map.status_updates.any? %>
        <div id="show-updates">
          <a href="#" class="secondary button radius show-content">Visa statusuppdateringar</a>
          <div class="content">
            <h2 class="subheader">Statusuppdateringar</h2>
            <%= render "status_updates/shared/status_updates", :updates => @map.status_updates %>
          </div>
        </div>
    <% end %>
    <div id="show-comments">
      <a href="#" class="secondary radius button show-content">Visa kommentarer</a>
      <div class="content">
        <%= render "map_comments/shared/map_comments", :map => @map %>
      </div>
    </div>
  </div>
</div>
