<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<% if @map.user == current_user %>
    <% # Visar namnet på kartan om det är ägaren som besöker den
       title @map.name
    %>
<% else %>
    <% # Annars visas :kartnamn, en karta av :användarens_namn
       title @map.name + ", en karta av " + (@map.user.name ? @map.user.name : @map.user.username)
    %>
<% end %>

<div class="row">
  <div class="twelve columns">
    <h1 class="header-name" ><%= @map.name %> </h1>
    <h5 class="subheader header-name" > En karta av: <%= @map.user.name || @map.user.username %></h5>
    <% unless @map.user == current_user %>
        <div class="right" id="follow-button">
          <%= render 'maps/shared/follow_button'%>
        </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="five columns">
    <div class="map-info-wrapper">
      <div class="map-description">
        <p><%= @map.description %></p>
      </div>
      <div claes="map-created-at">
        <span>Skapades: <%= time_ago(@map.created_at) %></span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="seven columns">
    <div class="left map-count" id="follow-count">
      <%= render 'maps/shared/follow_count' %>
    </div>
    <div class="left map-count">
      <%= render 'maps/shared/status_count' %>
    </div>
    <div class="left map-count">
      <%= render 'maps/shared/comment_count' %>
    </div>
  </div>
  <% if @map.user == current_user %>
      <div class="five columns">
        <div class="right map-handler">
          <div class="status-update-form">
            <%= render "status_updates/shared/form" %>
          </div>
          <%= link_to "Lägg till markering", new_map_mark_path(@map) %> |
          <%= link_to "Ändra karta", edit_profile_map_path(@map.user.slug, @map.slug) %> |
          <%= link_to "Ta bort karta", map_path(@map.id), :method=>:delete, :confirm=>"Vill du ta bort kartan?" %>
        </div>
      </div>
  <% end %>
</div>

<div class="row">
  <div class="twelve columns" id="viewMapContainter">
    <%= gmaps(@display_map) %>
  </div>
</div>

<div class="row">
  <% if @map.status_updates.any? %>
      <div class="six columns">
        <h2 class="subheader" >Statusuppdateringar</h2>
        <%= render "status_updates/shared/status_updates", :updates => @map.status_updates %>
      </div>
  <% end %>
  <div class="six columns">
    <%= render "map_comments/shared/map_comments", :map => @map %>
  </div>
</div>
