<ul>
<% if current_user.likes?(comment) %>
  <li>
    <%= link_to 'Sluta gilla ', status_comment_toggle_like_path(comment), method: :post, remote: true %>
  </li>|
<% else %>
  <li>
    <%= link_to 'Gilla ', status_comment_toggle_like_path(comment), method: :post, remote: true %>
  </li>|
<% end %>
<% if current_user == comment.user %>
  <li>
    <%= link_to 'Ta bort ', status_comment_path(comment), confirm: 'Vill du ta bort kommentaren?', method: :delete, remote: true %>
  </li>|
<% end %>
  <li class="created-at"><%= time_ago(comment.created_at) %></li>
</ul>
<div class="status-comment-statistics">
  <span class="status-update-likes"><%= like_count_string(comment) %></span>
</div>