<nav class="top-bar fixed">
  <ul>
    <li class="name"><h1><%= link_to "Kartr.se", root_url %></h1></li>
    <li class="toggle-topbar">
      <a href="#"></a>
    </li>
  </ul>
  <% if user_signed_in?%>
  <section>
    <%= render "shared/dropdowns/maps" %>
    <%= render "shared/dropdowns/main_menu" %>
    <ul class="">
      <div class="column" style="">
        <li class="search">
          <form>
            <input id="mapSearchInput" style="display:inline" type="text" placeholder="Sök karta" />
          </form>
        </li>
      </div>

    </ul>   
    <% if @map.present? and @map.id.present? and current_user == @map.user %>
    <%= render "shared/dropdowns/map_settings", map: @map %>
    <% end %>
  </section>
  <% end %>
</nav>

<script>
$(function() {
    // Autocomplete sök karta
    $( "#mapSearchInput" ).autocomplete({
      // Sökväg till maps#search. Söktermen kommer skickas som parameter 'term'
      source: "<%= searches_autocomplete_path() %>",
      // autocomplete kickar igång efter 2 tecken
      minLength: 2, 
      select: function( event, ui ) {
        console.log(ui)
        console.log( ui.item ?
          "Selected: " + ui.item.value + " aka " + ui.item.id :
          "Nothing selected, input was " + this.value );
      }
    }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li>" )
      .append( "<a href='" + item.href + "'>" + item.name + "<br>Taggar:" + item.tag_list + "</a>" )
      .appendTo( ul );
    };;
  });
</script>