<h2>Ändra ditt lösenord</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "Nytt lösenord" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "Bekräfta lösenord" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password, "Nuvarande lösenord" %><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Spara" %></div>
<% end %>

<%= render "devise/shared/links" %>
