<% comments.each do |c| %>
    <li class="map-comment">
      <p class="map-comment-body">
        <span class="author"><%= c.user.username %> - </span><%= c.content %>
      </p>
      <div class="map-comment-footer">
        <span class="created-at"><%= time_ago(c.created_at) %></span>
        <div id="map-comment-like-button-<%= c.id %>">
          <%= render 'map_comments/shared/like_button', :comment => c %>
        </div>

      </div>
    </li>
<% end %>
