<!DOCTYPE html>
<html>
<head>
  <title>Kartr - <%=	yield(:title) || "Välkommen" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

 <%= csrf_meta_tags %>
</head>
<body>


	<div class="container">
		<header class="row" id="header">
			<div class="twelve columns">
				<h1>Kartr.se</h1>
			</div>
		</header>

		<nav class="row" id="navigation">
			<div class="twelve columns">
				<% if user_signed_in? %>
			    	Inloggad som <%= current_user.email %>
                	<%= gravatar_image_tag(current_user.email,  :alt => current_user.email, :gravatar => { :default => 'https://assets.github.com/images/gravatars/gravatar-140.png' }) %>
			    	<%= link_to "Logga ut", destroy_user_session_path, :method => :delete %> | <%= link_to 'Byt lösenord', edit_user_registration_path %>
			  	<% else %>
			  		<%= link_to "Registrera dig", new_user_registration_path %> or <%= link_to "Logga in", new_user_session_path %>
					<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
			  	<% end %>
			</div>
		</nav>

		<div class="row" id="flash">
			<div class="twelve columns">
				<% flash.each do |name, msg| %>
					<%= content_tag :div, msg, :id => "flash_#{name}" %>
				<% end %>
			</div>
		</div>

		<section class="row" id="content">
			<div class="twelve columns">
				<%= yield %>
			</div>
		</section>

		<footer class="row" id="footer">
			<div class="twelve columns">
				&copy; kartr.se
			</div>
		</footer>
	</div>





</body>
</html>
