<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="author" content="<%= meta_author %>">
  <meta name="keywords" content="<%= meta_keywords %>" />
  <meta name="description" content="<%= meta_description %>" />

  <%= stylesheet_link_tag "application", media: :all %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= favicon_link_tag 'icons/favicon.ico', rel: 'icon', type: 'image/x-icon' %>
  <%= favicon_link_tag 'icons/favicon.ico', rel: 'shortcut icon', type: 'image/x-icon' %>
  <%= favicon_link_tag 'icons/apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag 'icons/apple-touch-icon-72x72.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '72x72' %>
  <%= favicon_link_tag 'icons/apple-touch-icon-114x114.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '114x114' %>
</head>
<body class='<%= controller.controller_name %>'>
<div class="container">
  <% if user_signed_in?%>
      <div id="nav-top-container">
        <%= render "shared/top_nav_bar" %>
      </div>
      <div class="row">
        <div class="three columns"></div>
        <div class="six columns">
          <%= form_tag searches_search_path, method: :post do %>
              <div>
                <%= text_field_tag :query, params[:query], placeholder: "Sök efter personer eller kartor..." %>
              </div>
          <% end %>
        </div>
        <div class="three columns"></div>
      </div>
  <% end %>

  <%= render "shared/flash_messages" %>

  <section class="row" id="content">
    <div class="twelve columns">
      <%= yield %>
    </div>
  </section>

  <footer class="row" id="footer">
    <p class="three columns copyright"><strong>kartr.se &copy; 2013</strong></p>
    <div class="nine columns footer_links">
      <%= render "shared/footer_links" %>
    </div>
  </footer>
</div>

<%= yield :scripts %>
<%= yield :end_of_body %>
</body>
</html>
