<h2>Redigera användare</h2>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <div>
        <%= f.label :name %><br />
        <%= f.text_field :name, :autocomplete => "off" %>
    </div>

    <div>
        <%= f.label :name %>  (Ändra)<br />
        <%= f.email_field :email, :autocomplete => "off", :disabled => true %>
    </div>

    <div>
        <%= f.label :password %>  <br />
        <%= f.password_field :password, :autocomplete => "off" %>
    </div>

    <div>
        <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>

    <div>
        <%= f.label :current_password %> <br />
        <%= f.password_field :current_password %>
    </div>

    <div><%= f.submit "Uppdatera" %></div>
<% end %>

<h3>Radera konto</h3>

<p><%= link_to "Ta bort konto", registration_path(resource_name), :data => { :confirm => "Är du säker?" }, :method => :delete %>.</p>

<%= link_to "Tillbaka", :back %>