<h2>Redigera användare</h2>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <div>
        <%= f.label :username, "Användarnamn" %><br />
        <%= f.text_field :username, :autocomplete => "off" %>
    </div>

    <div>
        <%= f.label :email, "epost" %><br />
        <%= f.email_field :email, :autocomplete => "off", :disabled => true %>
    </div>

    <div>
        <%= f.label :password, "Nytt lösenord" %>  <br />
        <%= f.password_field :password, :autocomplete => "off" %>
    </div>

    <div>
        <%= f.label :password_confirmation, "bekräfta lösenord" %><br />
      <%= f.password_field :password_confirmation %>
    </div>

    <div>
        <%= f.label :current_password, "Nuvarande lösenord" %> <br />
        <%= f.password_field :current_password %>
    </div>

    <div><%= f.submit "Uppdatera" %></div>
<% end %>

<h3>Radera konto</h3>

<p><%= link_to "Ta bort konto", registration_path(resource_name), :data => { :confirm => "Är du säker?" }, :method => :delete %>.</p>

<%= link_to "Tillbaka", :back %>