<div class="row">
  <div class="eight columns">
    <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
        <%= devise_error_messages! %>
        <fieldset class="profile-fieldset">
          <legend>Registrear dig</legend>
          <div class="row">
            <div class="four mobile-two columns">
              <%= f.label :username, "Användarnamn:", class: "right inline" %>
            </div>
            <div class="eight mobile-two columns">
              <%= f.text_field :username, placeholder: "Användarnamn", class: "ten" %>
            </div>
          </div>
          <div class="row">
            <div class="four mobile-two columns">
              <%= f.label :email, "Epost:", class: "right inline" %>
            </div>
            <div class="eight mobile-two columns">
              <%= f.text_field :email, placeholder: "Epost", class: "ten" %>
            </div>
          </div>
          <div class="row">
            <div class="four mobile-two columns">
              <%= f.label :password, "Lösenord:", class: "right inline" %>
            </div>
            <div class="eight mobile-two columns">
              <%= f.password_field :password, placeholder: "Lösenord", class: "ten" %>
            </div>
          </div>
          <div class="row">
            <div class="four mobile-two columns">
              <%= f.label :password_confirmation, "Bekräfta lösenord:", class: "right inline" %>
            </div>
            <div class="eight mobile-two columns">
              <%= f.password_field :password_confirmation, placeholder: "Bekräfta lösenord", class: "ten" %>
            </div>
          </div>
        </fieldset>
        <div><%= f.submit facebook? ? "Koppla samman kontona" : "Registrera", class: "button" %></div>
    <% end %>
    <%= link_to "Tillbaka", root_path %>
  </div>
</div>



